
h1.title {
  text-align: center;
}

h4.date {
  text-align: center;
}

p {
  font-size: 16px
}

.profile {
  width: 300px;
  margin: 10px 10px -5px 0px;
  float: left;
  position: relative;
  vertical-align: left;
  border-width: 2px;
  border-style: solid;
}